/* css for all the portfolio cards  */

.portfolio .card {
  justify-content: center;
  align-items: center;
  background-color: #9c420a;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.portfolio .screenshot {
  padding: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* gray out the cards */
.cardContainer.grayscale {
  filter: grayscale(100%);
  transition: filter 0.1s ease-out;
}

/* custom animation to remove grayscale on hover */
.cardContainer:hover {
  filter: none;
}

.cardContainer:hover {
  filter: grayscale(0);
  transition: 0.1s ease-in-out;
}

/* screen size breakpoint for proper button formatting */

@media (min-width: 768px) {
.portfolio a {
  width: 50%;
}
}

