/* css for all the portfolio cards  */

.portfolio .card {
  justify-content: center;
  align-items: center;
  background-color: #9c420a;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.portfolio .screenshot {
  margin-top: 5px;
  padding: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);

}

.cardContainer.grayscale {
  filter: grayscale(100%);
  transition: filter 0.1s ease-out;
}

.cardContainer:hover {
  filter: none;
}

.cardContainer:hover {
  filter: grayscale(0);
  transition: 0.1s ease-in-out;
}

/* screen size breakpoints for proper formatting */

@media (min-width: 768px) {
  .card img {
    max-width: 500px;
  }
.portfolio a {
  width: 50%;
}
}

@media (max-width: 767px) {
  .card img {
    max-width: 300px;
  }
}
