/* css for the resume page */

.skills .card {
  min-width: 400px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  gap: 20px;
  border: none;
  background-color: #9c420a;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

}

.icon {
  width: 10px;
  height: 10px;
}

a {
  font-size: 1.5rem;
}

.resume {
  background-color: #004d4f;
  min-width: 400px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  gap: 20px;
  border: none;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

}
