/* universal css to apply no matter which page it is */

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  min-height: 150vh;
  position: relative;
  padding-bottom: 5.5rem;
}

.nav a {
    color: #1ee3e8;
}

.nav .nav-link.active {
  color: #ff863b
}

 h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}